LOGGING="warn"
SITE_TITLE="My Awesome Site"
SITE_URL="https://addyourwebsiteurlhere.com"
CONTENT_DIR="content"
CONTENT_REPO_URL=""
GIT_TOKEN=""
WEBHOOK_SECRET=""
POLL_INTERVAL=60
PROFILE_PIC=https://avatars.githubusercontent.com/u/86984156
USERNAME="Your username goes here"
USER_DESCRIPTION="Insert a description"
USER_PROFILE="https://url.to.your.github.profile"
